@import "./../variables";
$default-value-map: (
  name: "default-theme",
  text-color: $white-primary,
  background-color: $blue-primary,
  button-color: $blue-primary,
  button-hover-color: $blue-dark,
  button-text-color: $white-primary,
  body-bg-color: $white-primary,
);
